[submodule "third_party/bio2token"]
	path = third_party/bio2token
	url = https://github.com/flagshippioneering/bio2token.git
[submodule "third_party/ConfSeq"]
	path = third_party/ConfSeq
	url = https://github.com/jiachengxiong/ConfSeq.git
[submodule "third_party/DiffGui"]
	path = third_party/DiffGui
	url = https://github.com/QiaoyuHu89/DiffGui.git
[submodule "third_party/DiffSBDD"]
	path = third_party/DiffSBDD
	url = https://github.com/arneschneuing/DiffSBDD.git
[submodule "third_party/esm"]
	path = third_party/esm
	url = https://github.com/evolutionaryscale/esm.git
[submodule "third_party/FoldToken_open"]
	path = third_party/FoldToken_open
	url = https://github.com/A4Bio/FoldToken_open.git
[submodule "third_party/targetdiff"]
	path = third_party/targetdiff
	url = https://github.com/guanjq/targetdiff.git
[submodule "third_party/token-mol"]
	path = third_party/token-mol
	url = https://github.com/jkwang93/token-mol
