[submodule "third_party/pocket-conditioned-ligand-gen"]
	path = third_party/pocket-conditioned-ligand-gen
	url = git@github.com:kohbanye/pocket-conditioned-ligand-gen.git
[submodule "third_party/DiffSBDD"]
	path = third_party/DiffSBDD
	url = https://github.com/arneschneuing/DiffSBDD.git
[submodule "third_party/targetdiff"]
	path = third_party/targetdiff
	url = https://github.com/guanjq/targetdiff.git
[submodule "third_party/DiffGui"]
	path = third_party/DiffGui
	url = https://github.com/QiaoyuHu89/DiffGui.git
